@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
}

:root {
  --max-width: 1600px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Plus Jakarta Sans,sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

h1 {
  font-family: Plus Jakarta Sans,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: #05264e;
}

h2 {
  font-size: 36px;
  line-height: 45px;
}

h2, h3 {
  font-family: Plus Jakarta Sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #05264e;
}

h4, h5, h6 {
  font-family: Plus Jakarta Sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #05264e;
}

h5 {
  font-size: 20px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  margin:10px 10px;
  display: flex;
  flex-grow: 1;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(16, 89, 150, var(--tw-bg-opacity));
}

.btn-social {
  --tw-bg-opacity: 1;
    background-color: rgba(240, 246, 255);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(27, 149, 250);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    cursor: pointer;
    height: 44px;
    border-width: 1px;
    border-color: transparent;
}

.btn-social:hover {
  border-color: #237ecf;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-7px);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hero-thumb-animation {
  0% {
    transform: translateY(-20px);
}
100% {
    transform: translateY(0);
}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,100%,0);
}

100% {
    opacity: 1;
    transform: translateZ(0);
}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

a, button, h4, img, input, span {
  transition: all .3s ease 0s;
}
img {
  overflow-clip-margin: content-box;
    overflow: clip;
}

.animate-slide-up {
  animation: slide-up 0.5s;
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.form-find {
  background: #fff;
    box-shadow: 0 18px 40px rgba(25,15,9,.1);
    border-radius: 8px;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.box-industry {
  width: 100%;
  max-width: 180px;
}

.form-find .input-industry {
  background: url(https://jobbox-nextjs-v3.vercel.app/_next/static/media/icon-job.cb6b65a4.svg) no-repeat left 18px center;
}

.form-find .input-type {
  background: url(https://jobbox-nextjs-v3.vercel.app/_next/static/media/key-numbers.3ced82ea.svg) no-repeat left 18px center;
}

.form-input {
  border: 0 solid rgba(26,15,9,.1);
  border-radius: 1;
  padding: 10px 20px 10px 34px;
  width: 100%;
}
.option {
  background: #fff;
  color: 0 solid #626262;
  padding-left: 10px;
}

.list-tags-banner strong {
  font-weight: 700;
  font-family: Plus Jakarta Sans,sans-serif;
  font-size: 14px;
  color: #4f5e64;
}
.list-tags-banner a {
  color: #636b6e;
  font-size: 14px;
  margin-left: 2px;
  text-decoration: underline;
  margin-right: 5px;
}

.block-1 {
  left: 0;
  position: absolute;
    top: 10%;
}
.shape-1 {
  animation: hero-thumb-animation 2s linear infinite alternate;
}

.section-box {
  display: inline-block;
  width: 100%;
  overflow: visible;
}

.bg-homepage{
  background-image: url('/images/bannerbg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 750px;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    right: 0;
}

.header-text {
  font-family: Plus Jakarta Sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #05264e;
}

.color-text-paragraph-2 {
  color: #66789c;
}

.nav-tab li a {
  box-shadow: 0 2px 4px -5px #0a2a69;
    align-items: center;
    padding: 13px 17px;
    width: auto;
    background: #fff;
    border: 1px solid #e0e6f7;
    border-radius: 8px;
    font-family: Plus Jakarta Sans,sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    margin: 0 5px 10px;
    display: flex;
    gap: 8px;
    color: #1e2e43;
}

.card-grid-2 {
  border-radius: 8px;
  border: 1px solid #e0e6f7;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
  background: #F8FAFF;
  width: 330px;
  height: 390px;
}

.image-box{
  min-width: 52px;
  padding-right: 15px;
}

.card-grid-2:hover {
  border-color: #b4c0e0;
  background-color: #fff;
}

.hover-up:hover {
  transform: translateY(-3px);
}

.hover-up, .hover-up:hover {
  transition: all .25s cubic-bezier(.02,.01,.47,1);
}

.card-grid-2 .card-grid-2-image {
  position: relative;
  padding: 10px;
}

.card-grid-2.grid-bd-16 .lbl-hot {
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 24px;
  background: #3c65f5;
  border-radius: 5px;
  color: #fff;
  min-width: 42px;
  font-size: 12px;
  line-height: 18px;
}

.bg-green {
  background-color: #3aab67!important;
}

.bg-blue {
  background-color: #3c65f5;  
}

.card-grid-2 .card-block-info {
  display: inline-block;
  width: 100%;
  padding: 5px 10px 20px;
}

.card-block-info .title:hover {
  color: #3267db;
}

.card-grid-2 a {
  text-decoration: none;
  color: #52555a;
}

.title {
  font-size: 20px;
  color: #6a6d70;
  font-family: Plus Jakarta Sans,sans-serif;
  font-weight: 600;
}

.card-location {
  font-size: 14px;
    color: #6c6f72;
    padding: 0 0 0 2px;
    line-height: 24px;
}

.card-time {
  font-size: 14px;
    color: #6c6f72;
    padding: 0 0 0 2px;
    line-height: 24px;
}

.btn-tags-sm {
  border-radius: 5px;
  min-width: 42px;
  font-size: 12px;
  line-height: 18px;
  font-family: Plus Jakarta Sans,sans-serif;
  background-color: #eff3fc;
  padding : 7px 7px;
  color: #4f5e64;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  border: 1px solid transparent;
}
.btn-tags-sm:hover {
 color: #3a5dea
}

.card-text-price {
  color: #3c65f5;
  font-family: Plus Jakarta Sans,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.text-muted {
  color: #6c757d;
}

.company-title {
  font-size: 18px;
    line-height: 26px;
    color: #05264e;
    font-weight: 700;
    display: block;
    cursor: pointer;
}
.company-title:hover {
 color: #237ecf;
}

.card-grid-2-image-left {
  padding: 30px 20px 15px;
  display: flex;
  position: relative;
}

.card-grid-2 .flash {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 25px;
  width: 25px;
  background: url(/images/flash.svg) no-repeat 0 0;
}

.color-text-paragraph {
  color: #4f5e64;
}

.box-we-hiring {
  max-width: 85%;
  border: 1px solid #e0e6f7;
  padding: 40px 250px 40px 190px;
  position: relative;
  display: flex;
  box-shadow: 0 10px 20px -5px rgba(10,42,105,.06);
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
}

.box-we-hiring:after, .box-we-hiring:before {
  content: "";
  position: absolute;
  bottom: 15px;
  height: 120px;
}

.box-we-hiring:before {
  left: 15px;
  width: 150px;
  background: url(/images/leftbn.svg) no-repeat 0 0;
  background-size: cover;
}

.box-we-hiring .text-2 {
  font-size: 18px;
  line-height: 23px;
  color: #66789c;
  font-weight: 500;
  padding: 29px 20px 0;
}

.color-brand-1 {
  color: #05264e!important;
  margin: 0 1px;
}

.btn-apply-icon {
  background-image: url(/images/apply.svg);
  background-position: 18px 12px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.box-we-hiring:after {
  right: -5px;
  width: 250px;
  background: url(/images/rightbn.svg) no-repeat 1px 0;
  background-size: cover;
}

.box-radius-8 {
  border-radius: 8px;
  background-color: #fff6f1;
  padding: 30px;
  display: flex;
  box-shadow: 0 10px 20px -5px rgba(10,42,105,.06);
  border: 1px solid #e0e6f7;
}

.box-radius-8 .image {
  display: inline-block;
  min-width: 176px;
  padding-right: 25px;
}

.text-info {
  color: #0dcaf0!important;
}

.bg-9 {
  background-color: #eff7ff!important;
}

.btn-arrow-right {
  background: url(/images/arrow-right.svg) no-repeat right 15px top 3px;
  color: #3c65f5;
  padding: 0 40px 0 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}

.step:before {
  content: "";
  width: 100%;
  height: 59px;
  position: absolute;
  top: 45px;
  left: 68%;
  background: url(/images/line.svg) no-repeat;
  background-size: contain;
  z-index: 1;
}

.number-element {
  color: #3c65f5;
  background-color: #eff2fb;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: inline-block;
  line-height: 110px;
  margin-bottom: 20px;
  z-index: 2;
}

.heading {
  color: #05264e;
}

.box-newsletter {
  padding: 57px 0 96px;
  background: url(/images/bg-newsletter.png) no-repeat 0 0;
  background-size: cover;
  border-radius: 16px;
}

.text-white-color {
  color:#fff;
}

.box-newsletter .box-form-newsletter {
  background: #fff;
  max-width: 610px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

.box-form-newsletter form .input-newsletter {
  width: 90%;
  border: 0;
  min-height: 60px;
  background-image: url(/images/email.svg);
  background-repeat: no-repeat;
  background-position: left 17px center;
  padding: 15px 15px 15px 60px;
  outline: none;
  box-shadow: none;
}

.icon-send-letter {
  position: relative;
  background-image: url(/images/apply.svg);
  background-repeat: no-repeat;
  background-position: left 17px center;
  padding-left: 48px;
}

/* /////Job Page ////// */
.banner-hero.banner-single {
  padding: 40px 20px 60px;
  background: #f2f6fd;
  border-radius: 16px;
  position: relative;
}
.banner-hero {
  max-width: 1770px;
  margin: 0 auto;
  position: relative;
}

.banner-hero.banner-single:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -3px;
  height: 170px;
  width: 218px;
  background: url(/images/left-job-head.svg) no-repeat 0 100%;
  background-size: contain;
  display: inline;
  top: auto;
  right: auto;
}

.banner-hero.banner-single:after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 5px;
  height: 170px;
  width: 213px;
  background: url(/images/right-job-head.svg) no-repeat 0 100%;
  background-size: contain;
}

.block-banner {
  padding: 0;
  max-width: 850px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.banner-hero .text-blue-btn:before {
    content: "";
    background-color: #3c65f5;
    height: 25px;
    position: absolute;
    width: 20%;
    left: 1;
    bottom: -6px;
    z-index: -1;
    opacity: 0.2;
}

.sidebar-shadow.none-shadow {
  padding: 0 20px 0 0;
  border: 0;
  border-radius: 0;
}
.sidebar-shadow {
  box-shadow: 0 10px 20px -5px rgba(10,42,105,.06);
}
.sidebar-border, .sidebar-shadow {
  border: 1px solid #e0e6f7;
  padding: 25px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 40px;
}

.head-border {
  border-bottom: 1px solid #b4c0e0;
  padding-bottom: 10px;
}

.link-reset {
  float: right;
  font-size: 14px;
  line-height: 22px;
  color: #66789c;
  font-weight: 500;
  padding-bottom: 30px;
}

.custom-range {
  width: 100%;
  height: 1.4rem;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none; 
}

input[type="range"]::-webkit-slider-thumb { 
  height: 18px; 
  width: 18px; 
  border-radius: 70%; 
  background: #fffcfc; 
  border: 2px solid #0069DB;
  pointer-events: auto; 
  -webkit-appearance: none; 
} 

.track-0-2-17 {
  top: 11px;
  height: 0.25rem;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #0069DB;
  pointer-events: none;
}

.range-0-2-16 {
  top: 0;
  left: 0;
  position: absolute; 
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form-control {
  font-size: 14px;
  border-right: unset;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  display: block;
  color: #0E1225;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  color: #6c757d;
  font-size: 14px;
  background-color: transparent;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #ced4da;
  height: calc(1.5em + 0.5rem + 2px);
}

.list-checkbox {
  display: inline-block;
  width: 100%;
  padding: 15px 0 10px;
}

.bottom-line {
  border-bottom: 1px solid #bcbfc2;
}

.list-checkbox li {
  position: relative;
  padding: 0 160px 6px 0;
  width: 100%;
}

.cb-container {
  display: flex;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  line-height: 20px;
  min-width: 140px;
}

.form-group input {
  background: #fff;
  border: 1px solid #3c65f5;
  height: 23px;
  box-shadow: none;
  padding-left: 20px;
  font-size: 16px;
  width: 100%;
}

input[type='checkbox']:checked {
  background: #3c65f5;
}
/* input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
} */
.cb-container input {
  cursor: pointer;
}

.text-small {
  font-size: 14px;
  font-weight: 500;
}

.text-normal, .text-small {
  line-height: 22px;
  color: #4f5e64;
}

.box-filters-job {
  border-bottom: 1px solid #e0e6f7;
  margin-bottom: 10px;
  padding: 0 0 10px;
}


/* /// detail-job ////*/
.job-overview {
  border: thin solid #e0e6f7;
  border-radius: 8px;
  padding: 20px 30px 30px;
  margin-bottom: 50px;
}

.job-title {
  font-family: Plus Jakarta Sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: #05264e;
  font-size: 20px;
}

.job-overview .sidebar-icon-item {
  font-size: 18px;
  color: #a0abb8;
  min-width: 20px;
}

.job-overview .text-description {
  font-size: 16px;
  color: #66789c;
  line-height: 24px;
  font-weight: 400;
  min-width: 120px;
}
.job-overview .sidebar-text-info {
  display: flex;
}

.job-overview .sidebar-text-info .small-heading {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.card-briefcase, .card-time {
  font-size: 12px;
  color: #a0abb8;
  display: inline-block;
  padding: 0 15px;
}

.card-briefcase {
  background: url(/images/briefcase.svg) no-repeat 0 4px;
}
.card-time {
  background: url(/images/time.svg) no-repeat 0 6px;
}

.content-single h3, .content-single h4, .content-single h5 {
  margin-top: 20px;
  color: #4f5e64;
  font-weight: 700;
  margin-bottom: 10px;
}
.content-single li::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

.content-single p {
  font-size: 16px;
  color: #4f5e64;
  line-height: 32px;
  margin-bottom: 20px;
}

.content-single ul {
  padding-left: 30px;
  line-height: 32px;
  font-size: 16px;
  color: #4f5e64;
  list-style: disc;
}

.sidebar-border, .sidebar-shadow {
  border: 1px solid #e0e6f7;
  padding: 25px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 40px;
}
.sidebar-border .sidebar-heading, .sidebar-shadow .sidebar-heading {
  width: 100%;
}

.sidebar-border .sidebar-heading .avatar-sidebar .sidebar-info, .sidebar-shadow .sidebar-heading .avatar-sidebar .sidebar-info {
  display: block;
  padding-left: 100px;
  position: relative;
}

.sidebar-company {  
  font-size: 18px;
  font-family: Plus Jakarta Sans,sans-serif;
  line-height: 18px;
  font-weight: 700;
  display: block;
  padding-top: 5px;
}

.link-underline {
  font-size: 12px;
  line-height: 18px;
  color: #05264e;
  font-weight: 400;
  text-decoration: underline;
  display: block;
}

.link-underline:hover {
  color: #1e73da;
}

.sidebar-list-job {
  border-top: 1px solid rgba(6,18,36,.1);
  display: inline-block;
  width: 100%;
  padding: 25px 0 0;
  margin: 20px 0 0;
}

.box-map {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}

.sidebar-list-job ul {
  padding: 0;
}

.ul-disc {
  list-style-type: disc;
  padding-left: 25px!important;
}

.ul-disc li {
  list-style-type: disc;
  display: list-item!important;
  padding-bottom: 5px!important;
  color: #4f5e64;
  font-size: 14px;
  line-height: 22px;
}

/* //createCV// */
.sidebar-left {
  background-color: #e8edfa;
  min-height: 100vh;
  z-index: 9;
  transition: all .4s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
}
.sidebar-left.is-fixed {
  position: fixed;
  top: 114px;
  bottom: 1000px;
  padding-bottom: 200px;
  width: 560px;
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all .4s ease;
}

.area-title{
  position: relative;
  display: block;
  padding: 25px;
}
.list-title{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px 0px 25px;
  list-style-type: none;
}
.list-title li .panel:hover {
  background-color: rgb(39, 99, 211);
  color: white;
}
.list-title li:hover .text {
  color: white;
  font-weight: 700; /* Change the color to your desired color */
}

.panel {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 50px;
  margin-bottom: 8px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.panel .text {
  padding-right: 10px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(39, 99, 211);
  cursor: pointer;
}

.make-cv-content.is-scrolling {
  margin-left: auto;
  transition: all .4s ease;
}

.make-cv-content {
  background-color: #f0ecec;
  min-height: 100vh;
  padding-bottom: 5rem;
  z-index: 9;
  margin-top: 90px;
}

.title-resume {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: rgb(57, 62, 70);
}

.section-form {
  position: relative;
  display: block;
  padding: 35px 20px;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255);
  max-width: 850px;
}

.section-form .ant-form-item-label {
  display: inline-block;
  width: 120px;
  min-width: 160px;
  font-size: 16px;
  line-height: 1.275;
  white-space: normal;
  text-align: left;
  font-weight: bold;
}

.ant-form-item-required:after {
  display: inline-block;
  content: "(*)" !important;
  padding-left: 5px;
  color: #d34127;
}

.dotTextArea {
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
  min-width: 500px;
  border: solid 1px #bebcbb;
  border-radius: 5px;
  min-height: 200px;
}

















